body{
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
}

.img-container{
  border:2px solid black;
  width: 300px;
  height: 170px;
  /* height: 100%; */
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
  margin:auto;
  
}

.score-container {
  margin:auto;
  width: 300px;
}

h2{
  margin-bottom:0;
}

h1{
  text-align:center;
}

#theWinner{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.image{
  /* display: block;
  margin:auto; */
  display: flex;
  vertical-align: middle;
}

#player-container{
  margin-top:15px;
}

#computer-container{
   margin-top:15px;
}

.btn{
  text-decoration: none;
  padding:10px;
  background-color: green;
  color: white;
  font-size:18px;
  border-radius: 5px; 
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}

#btn-container{
  margin-top:15px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.btn:hover{
  background-color:darkblue;
  cursor: pointer;
}


@media (min-width: 800px) {
  .container{
    display: flex;
    justify-content: space-evenly;
  }



}
